<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Seleccione una cuenta</ion-label>
      <ion-select value="" okText="ok" cancelText="Cancelar" [(ngModel)]="data['cuenta']">
        <ion-select-option [value]="account.key" *ngFor="let account of ahorros | keyvalue">{{account.key}} Ahorros
        </ion-select-option>
        <ion-select-option [value]="account.key" *ngFor="let account of corrientes | keyvalue">{{account.key}} Corriente
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccione una moneda</ion-label>
      <ion-select okText="ok" cancelText="Cancelar" [(ngModel)]="data['moneda']">
        <ion-select-option value="COP">COP </ion-select-option>
        <ion-select-option value="USD">USD</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor : </ion-label>
      <ion-input type="number" [(ngModel)]="data['valor']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ref : </ion-label>
      <ion-input type="text" [(ngModel)]="data['ref']"></ion-input>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-button expand="block" color="secondary" (click)="createBarcode()">Crea <ion-icon name="qr-code-outline"></ion-icon></ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>