<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="medium" [routerLink]="['/home/cuentas-terceros']" >Inscribir</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="medium"[routerLink]="['/home/transf-propias']" >Transferir cuentas propias</ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid>

</ion-content>


