<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-list>
      <form [formGroup]="formLogin" (submit)="send()">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-row>

          <ion-col>
            <ion-button [disabled]="formLogin.invalid" type="submit" color="secondary" size="large" expand="block">
              Ingresar</ion-button>
          </ion-col>


        </ion-row>
      </form>
     
    
    </ion-list>
  </ion-grid>

</ion-content>