<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="account">
  <ion-item>
    <ion-icon name="wallet" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        <!-- {{ movie.titulo }} -->
        <span class="date">
          <!-- <ion-note>{{ movie.descripcion }}</ion-note> -->
        </span>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Numero: </ion-label>
    <ion-input [value]="id" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Saldo: </ion-label>
    <ion-input [value]="account['saldo']" readonly="true">  $</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Alias: </ion-label>
    <ion-input  [(ngModel)]="account['alias']"></ion-input>
  </ion-item>
  <ion-item  *ngFor="let acc of account['movimientos']">
    
    <ion-badge slot="start"></ion-badge>
    <ion-label>Movimiento: {{acc.mov}}</ion-label>
    <ion-badge color="light" slot="end"> $ {{acc.valor}}</ion-badge>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="block" (click)="updateDoc(account['alias'])">Actualizar Alias</ion-button>

  </div>

</ion-content>
