<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="wallet" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        <span class="date">
          <!-- <ion-note>{{ movie.descripcion }}</ion-note> -->
        </span>
      </h2>
    </ion-label>
  </ion-item>
  <form [formGroup]="formLogin" (submit)="send()">
    <ion-item>
      <ion-label position="stacked">Alias</ion-label>
      <ion-input type="text" formControlName="alias"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Entidad</ion-label>
      <ion-select placeholder="entidad bancaria" formControlName="entidad">
        <ion-select-option value="bancolombia">Bancolombia</ion-select-option>
        <ion-select-option value="davivienda">Davivienda</ion-select-option>
        <ion-select-option value="banco agrario">banco agrario</ion-select-option>
        <ion-select-option value="BBVA">BBVA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select placeholder="tipo de cuenta" formControlName="tipo">
        <ion-select-option value="bancolombia">Corriente</ion-select-option>
        <ion-select-option value="davivienda">Ahorros</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Numero</ion-label>
      <ion-input type="number" formControlName="numero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Identificacion</ion-label>
      <ion-input type="number" formControlName="identificacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Moneda</ion-label>
      <ion-select placeholder="tipo de cuenta" formControlName="moneda">
        <ion-select-option value="bancolombia">COP</ion-select-option>
        <ion-select-option value="davivienda">USD</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-row>

      <ion-col>
        <ion-button [disabled]="formLogin.invalid" type="submit" color="secondary" size="large" expand="block">
          Nueva cuenta</ion-button>
      </ion-col>


    </ion-row>
  </form>




</ion-content>