<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Numero cuenta: </ion-label>
      <ion-input readonly [ngModel]="scannedData['cuenta']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Moneda: </ion-label>
      <ion-input readonly [ngModel]="scannedData['moneda']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor: </ion-label>
      <ion-input readonly [ngModel]="scannedData['valor']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ref: </ion-label>
      <ion-input readonly [ngModel]="scannedData['ref']"></ion-input>
    </ion-item>
  </ion-list>
 
<ion-grid>
  <ion-row>
    
    <ion-col>
      <ion-button expand="block" color="secondary" (click)="scanBarcode()">Scan <ion-icon name="qr-code-outline"></ion-icon></ion-button>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>