<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="tertiary" [routerLink]="['/home/qr-generator']">Genera QR</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="tertiary" [routerLink]="['/home/qr-read']">Scan QR</ion-button>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>


