<ion-header>
  <ion-toolbar>
    <ion-title>
      Cuentas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-segment value="corrientes" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="corrientes">
      <ion-label>Corriente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ahorros">
      <ion-label>Ahorros</ion-label>
    </ion-segment-button>
    
  </ion-segment>
  <!-- List of Sliding Items -->
<ion-list> 
  <ion-progress-bar *ngIf="keys(accounts[displayAccounts]).length<1" type="indeterminate"></ion-progress-bar>

  <ion-item [routerLink]="['/home/detail',displayAccounts,account.key]" *ngFor="let account of accounts[displayAccounts] | keyvalue">
    
    <ion-badge slot="start"></ion-badge>
    <ion-label>Numero: {{account.key}}</ion-label>
    <ion-badge color="dark" slot="end"> $ {{account.value["saldo"]}}</ion-badge>
  </ion-item>
</ion-list>
</ion-content>
