<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mi Banco 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="auth.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="accounts">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>Mis cuentas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="transferecias">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Transferencias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="recibir">
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Recibir</ion-label>
      </ion-tab-button>
  
     
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
