<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list>
    <ion-item>
      <ion-label>Cuenta origen</ion-label>
      <ion-select value="" okText="ok" cancelText="Cancelar" [(ngModel)]="data['cuenta_origen']">
        <ion-select-option [value]="account.key" *ngFor="let account of ahorros | keyvalue">{{account.key}} Ahorros
        </ion-select-option>
        <ion-select-option [value]="account.key" *ngFor="let account of corrientes | keyvalue">{{account.key}} Corriente
        </ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cuenta destino</ion-label>
      <ion-select value="" okText="ok" cancelText="Cancelar" [(ngModel)]="data['cuenta_destino']">
        <ion-select-option [value]="account.key" *ngFor="let account of ahorros | keyvalue">{{account.key}} Ahorros
        </ion-select-option>
        <ion-select-option [value]="account.key" *ngFor="let account of corrientes | keyvalue">{{account.key}} Corriente
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccione una moneda</ion-label>
      <ion-select okText="ok" cancelText="Cancelar" [(ngModel)]="data['moneda']">
        <ion-select-option value="COP">COP </ion-select-option>
        <ion-select-option value="USD">USD</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Monto : </ion-label>
      <ion-input type="number" [(ngModel)]="data['monto']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion : </ion-label>
      <ion-input type="text" [(ngModel)]="data['descripcion']"></ion-input>
    </ion-item>

  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="send()">Transferir</ion-button>

  </div>

</ion-content>
